@using CourseProject.ViewModels
@using Microsoft.Extensions.Localization
@model IEnumerable<UserViewModel>
@inject IStringLocalizer<SharedResources> localizer

<div class="container mt-5">
    <h2>@localizer["AdminPanel"]</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-controller="Admin" asp-action="Index" asp-route-sortColumn="UserName" asp-route-sortOrder="@ViewData["SortOrder"]">
                        @localizer["UserName"]
                        @if (ViewData["SortColumn"] as string == "UserName")
                        {
                            <span>
                                @(ViewData["SortOrder"] as string == "asc" ? "↑" : "↓")
                            </span>
                        }
                    </a>
                </th>
                <th>
                    <a asp-controller="Admin" asp-action="Index" asp-route-sortColumn="Email" asp-route-sortOrder="@ViewData["SortOrder"]">
                        @localizer["Email"]
                        @if (ViewData["SortColumn"] as string == "Email")
                        {
                            <span>
                                @(ViewData["SortOrder"] as string == "asc" ? "↑" : "↓")
                            </span>
                        }
                    </a>
                </th>
                <th>
                    <a asp-controller="Admin" asp-action="Index" asp-route-sortColumn="IsAdmin" asp-route-sortOrder="@ViewData["SortOrder"]">
                        @localizer["IsAdmin"]
                        @if (ViewData["SortColumn"] as string == "IsAdmin")
                        {
                            <span>
                                @(ViewData["SortOrder"] as string == "asc" ? "↑" : "↓")
                            </span>
                        }
                    </a>
                </th>
                <th>
                    <a asp-controller="Admin" asp-action="Index" asp-route-sortColumn="IsLockedOut" asp-route-sortOrder="@ViewData["SortOrder"]">
                        @localizer["IsLockedOut"]
                        @if (ViewData["SortColumn"] as string == "IsLockedOut")
                        {
                            <span>
                                @(ViewData["SortOrder"] as string == "asc" ? "↑" : "↓")
                            </span>
                        }
                    </a>
                </th>
                <th>@localizer["Actions"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@if (user.IsAdmin) 
                        {
                            <i class="fa-solid fa-check"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-xmark"></i>
                        }
                    </td>
                    <td>
                        @if (user.IsLockedOut)
                        {
                            <i class="fa-solid fa-check"></i>
                        }
                        else
                        {
                            <i class="fa-solid fa-xmark"></i>
                        }
                    </td>
                    <td>
                        <form method="post" asp-action="UpdateRole" asp-route-userId="@user.UserId">
                            <input type="hidden" name="userId" value="@user.UserId" />
                            <button type="submit" class="btn @(user.IsAdmin ? "btn-danger" : "btn-success")">
                                @(user.IsAdmin ? @localizer["RemoveAdmin"] : @localizer["MakeAdmin"])
                            </button>
                            <input type="hidden" name="isAdmin" value="@(user.IsAdmin ? "false" : "true")" />
                        </form>
                        @if (!user.IsLockedOut)
                        {
                            <form method="post" asp-action="BlockUser" asp-route-userId="@user.UserId">
                                <button type="submit" class="btn btn-warning">
                                    @localizer["Block"]
                                </button>
                            </form>
                        }
                        else
                        {
                            <form method="post" asp-action="UnblockUser" asp-route-userId="@user.UserId">
                                <button type="submit" class="btn btn-info">
                                    @localizer["Unblock"]
                                </button>
                            </form>
                        }
                        <form method="post" asp-action="DeleteUser" asp-route-userId="@user.UserId">
                            <button type="submit" class="btn btn-danger">
                                @localizer["DeleteUser"]
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
