@using CourseProject.ViewModels
@using Microsoft.Extensions.Localization
@model IEnumerable<CourseProject.Models.Form>
@inject IStringLocalizer<SharedResources> localizer

<div class="container mt-5">
    <h2>@localizer["Forms"]</h2>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Form" asp-action="Create" class="btn btn-secondary mb-1">@localizer["CreateForm"]</a>
    }
    <form method="get" class="mb-4">
        <div class="input-group">
            <input type="text" name="searchQuery" class="form-control" placeholder="" value="" />
            <button type="submit" class="btn btn-primary">@localizer["Search"]</button>
        </div>
    </form>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var form in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@form.ImageUrl" class="card-img-top" alt="Form Image" style="max-height: 150px; object-fit: cover;" />
                    <div class="card-body">
                        <h5 class="card-title">@form.Title</h5>
                        <p class="card-text text-truncate">@form.Description</p>
                        <a asp-controller="Form" asp-action="Details" asp-route-id="@form.Id" class="btn btn-primary">@localizer["View"]</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@localizer["CreatedBy"]: @form.Author?.UserName</small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>