@using CourseProject
@using CourseProject.ViewModels
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> localizer
@model FormAnswer

<div class="container mt-5">
    <h2>@Model.Form.Title</h2>
    <p><strong>@localizer["SubmittedAt"]:</strong> @Model.SubmittedAt.ToString("g")</p>
    <form method="post" asp-controller="Form" asp-action="DeleteAnswer" asp-route-id="@Model.Id" asp-route-returnUrl="@ViewData["returnUrl"]" class="mt-1 mb-1">
        <button type="submit" class="btn btn-danger">@localizer["DeleteAnswer"]</button>
    </form>
    <h3>@localizer["Answers"]</h3>
    <div class="list-group">
        @foreach (var answer in Model.Answers)
        {
            <div class="list-group-item">
                <div class="mb-2">
                    <label class="form-label fw-bold">@answer.Question.Title</label>
                </div>
                <div>
                    @switch (answer)
                    {
                        case TextAnswer textAnswer:
                            <textarea class="form-control" disabled readonly>@textAnswer.TextAnswerValue</textarea>
                            break;
                        case IntegerAnswer integerAnswer:
                            <input type="number" class="form-control" value="@integerAnswer.IntegerAnswerValue" disabled readonly />
                            break;
                        case CheckboxAnswer checkboxAnswer:
                            <i class="@(checkboxAnswer.CheckboxAnswerValue ? "fa-solid fa-check" : "fa-solid fa-xmark")"></i>
                            break;
                    }
                </div>
            </div>
        }
    </div>
</div>
