@using CourseProject.Models
@using CourseProject.ViewModels.Template
@using Microsoft.Extensions.Localization
@model TemplateAnswersViewModel
@inject IStringLocalizer<SharedResources> localizer

<div class="container mt-5">
    <h2>@localizer["Answers"]</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <a asp-controller="Template" asp-action="Answers" asp-route-id="@Model.TemplateId" asp-route-sortColumn="UserName" asp-route-sortOrder="@(Model.SortOrder == "asc" ? "desc" : "asc")">
                            @localizer["UserName"]
                            @if (Model.SortColumn == "UserName")
                            {
                                <span>
                                    @(Model.SortOrder == "asc" ? "↑" : "↓")
                                </span>
                            }
                        </a>
                    </th>
                    <th>
                        <a asp-controller="Template" asp-action="Answers" asp-route-id="@Model.TemplateId" asp-route-sortColumn="SubmittedAt" asp-route-sortOrder="@(Model.SortOrder == "asc" ? "desc" : "asc")">
                            @localizer["SubmittedAt"]
                            @if (Model.SortColumn == "SubmittedAt")
                            {
                                <span>
                                    @(Model.SortOrder == "asc" ? "↑" : "↓")
                                </span>
                            }
                        </a>
                    </th>
                    <th><a href="">@localizer["Actions"]</a></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Forms.Any())
                {
                    foreach (var answer in Model.Forms)
                    {
                        <tr>
                            <td>@answer.User?.UserName</td>
                            <td>@answer.SubmittedAt.ToString("g")</td>
                            <td>
                                <a asp-controller="Form" asp-action="ViewAnswer" asp-route-id="@answer.Id" class="btn btn-primary btn-sm">
                                    @localizer["View"]
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center">@localizer["NoData"]</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
