@using CourseProject.ViewModels
@using Microsoft.Extensions.Localization
@model List<QuestionStatisticsViewModel>
@inject IStringLocalizer<SharedResources> localizer

<div class="container mt-5">
    <h2>@localizer["Statistics"]</h2>
    <div class="list-group">
        <div>
            <h4>@localizer["QuestionsStatistics"]</h4>
                @foreach (var stat in Model)
                {
                    <div class="list-group-item">
                        <div class="mb-2">
                            <label class="form-label fw-bold">@stat.QuestionTitle</label>
                        </div>
                        <div>
                            @if (stat.QuestionType == QuestionType.Integer)
                            {
                                <ul>
                                    <li>@localizer["Min"]: @(stat.IntegerStats != null ? stat.IntegerStats?.Min : localizer["NoData"])</li>
                                    <li>@localizer["Max"]: @(stat.IntegerStats != null ? stat.IntegerStats?.Max : localizer["NoData"])</li>
                                    <li>@localizer["Mean"]: @(stat.IntegerStats != null ? stat.IntegerStats?.Mean : localizer["NoData"])</li>
                                    <li>@localizer["Median"]: @(stat.IntegerStats != null ? stat.IntegerStats?.Median : localizer["NoData"])</li>
                                    <li>@localizer["StdDev"]: @(stat.IntegerStats != null ? stat.IntegerStats?.StdDev : localizer["NoData"])</li>
                                </ul>
                            }
                            else if (stat.QuestionType == QuestionType.SingleLineText || stat.QuestionType == QuestionType.MultiLineText)
                            {
                                <p>@localizer["MostFrequentAnswer"]: @(stat.TextStats != null ? stat.TextStats?.MostFrequent : localizer["NoData"])</p>
                            }
                            else if (stat.QuestionType == QuestionType.Checkbox)
                            {
                                <p>@localizer["SelectionPercentage"]: @(stat.CheckboxStats!=null?stat.CheckboxStats.SelectionPercentage + " %":"")</p>
                            }
                        </div>
                    </div>
                }
        </div>
    </div>
</div>
